<h1>
  {{title}}
</h1>

<app-user-item></app-user-item>
<app-event-list>
</app-event-list>
<app-user-list #list></app-user-list>
<div class = "appConents">
  <form class = "ui large form segment">
    <div class="field">
      <label for="title"> Title: </label>
      <input name = "title" #newtitle />
    </div>
    <div class="field">
      <label for="link"> Link: </label>
      <input name = "link" #newlink />
    </div>
  </form>
  <button (click)="list.AddArticle(newtitle)"> Submit link </button>
</div>
